*.root
*.csv
*.7z
build/*
build/CMakeFiles/TargetDirectories.txt
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/Makefile
build/cmake_install.cmake
build/compile_commands.json
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/*.root
.vscode/ipch/*
.vscode/ipch
*.eps
